@import '~antd/dist/antd.css';

html, body, #container, .ant-layout {
    height: 100%;
    margin: 0px;
}

#header {
    background-color: white;
    box-shadow: 0 2px 8px #f0f1f2;
}

.ant-drawer-body {
    padding: 4px;
}

.style-label {
    padding-left: 6px;
}

.ant-menu-inline {
    line-height: 34px;
}

.sidebar-item {
    display: flex;
    justify-content: space-between;
}

.sidebar-item div div.edit-buttons {
    display: none;
}

.sidebar-item:hover div div.edit-buttons {
    display: block;
}

.color-picker, .color-picker>span {
    width: 100%;
}

.color-picker>span {
    height: 34px;
}

.ant-drawer-content-wrapper {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15) !important;
    -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
}

.launch-button>span {
    margin-left: 14px;
}