@import '~antd/dist/antd.css';

html, body, #container, .ant-layout {
    height: 100%;
    margin: 0px;
}

#header {
    background-color: white;
    box-shadow: 0 2px 8px #f0f1f2;
}

.ant-drawer-body {
    padding: 4px;
}

.style-label {
    padding-left: 6px;
}

.ant-menu-inline {
    line-height: 34px;
}

.sidebar-item {
    display: flex;
    justify-content: space-between;
}
